/* SPLASH SCREEN AND LOADER */
#splash-screen {
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   position: fixed;
   display: block;
   /*opacity: 0.7;*/
   background-color: white;
   z-index: 99999;
    display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  margin: auto;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #33cccc;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* END - SPLASH SCREEN AND LOADER */

/* CUSTOMISATIONS FOR UNIVERAL SEARCH */

/* Hide standard header panel */


#rm4ed-global-search-input {
  width: 95%;
  border: none;
  border-radius: 0 0 0 0;
  max-width: inherit;
  padding: 0 25px 0 20px;
  height: 32px;
}



/* END - CUSTOMISATION FOR UNIVERSAL SEARCH */

#globalSearchPanel{
	background-color: #000033 !important;
}

#main-menu{
	background-color: #33cccc !important;
}


.object_selector{
	background-color: #000033 !important;
}

button.btn.global-search-finder-btn.dropdown-toggle.object_selector.pull-left:hover,
button.btn.global-search-finder-btn.dropdown-toggle.object_selector.pull-left:focus {
  border: 1px solid #33cccc !important;
}


.option_selector{
	background-color: #000033 !important;
}

button.btn.global-search-finder-btn.dropdown-toggle.option_selector.pull-left:hover,
button.btn.global-search-finder-btn.dropdown-toggle.option_selector.pull-left:focus {
  border: 1px solid #33cccc !important;
}

.global-search-btn{
	background-color: #000033 !important;
}

#show-saved-searches{
	background-color: #33cccc !important;
}

#profile-user-details{
	background-color: #33cccc !important;
}

.dashboard-container-header .h4{
	border-bottom: none;
}

.dashboard-container-header .h4:hover{
	color: #33cccc;
	border-bottom: #33cccc;
}


.spn-plus-icon{
	color: #33cccc;
}
.spn-title{
	color: #33cccc;
}


/* HIDE UNWANTED COMPONENTS */
/* Hide main menu */
#dropdownMenu1{
	display: none;
}

/*This button replaces the main menu*/
#custom-new-record-button > span{
	color: white;
}

.btn .global-search-finder-btn .dropdown-toggle .object_selector .pull-left{
	display: none !important;
}

/* Hide options button anf help button in global serach bar */
.global-search-options-wide{
	display: none;
}

/* Hide User detail button. */
#profile-user-details{
	display: none;
}


div.div-profile-header > ul.dropdown-menu > li:nth-child(1){
	border-bottom: 0 !important;
}
div.div-profile-header > ul.dropdown-menu > li:nth-child(2){
	display: none !important;
}
div.div-profile-header > ul.dropdown-menu > li:nth-child(3){
	display: none !important;
}
div.div-profile-header > ul.dropdown-menu > li:nth-child(4){
	display: none !important;
}

/* Hide tabbing mechanism */
div.as-spa-body>div>div.tabbable {
	
	display: none;
}









.global-search-input-container{
	top: -1px;
}

.object_selector{
	top: -1px;
}



.button-primary{
	background-color: rgb(210,35,42);
}

.btn.btn-flat.btn-primary, .btn.btn-icon.btn-primary{
	color: rgb(210,35,42);
}

#show-saved-searches {
	background-color: rgb(210,35,42);
}



#main-menu li ul li{
	border-left: 1px solid #fff;
}

.lgfl-footer{
	background-color: #444 !important;	
}


#custom-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;            /* Footer height */
}


/* DOCUMENT VIEWER */
.modal-full-header{
	background-color: #222;
}

#DocumentViewerPanel_3{
	background-color: #222 !important;
}

.btn-revision{
	background-color: #222 !important;
}





