/*Inquiry User styles*/



/* INQUIRY USER */

/* HIDE UNWANTED COMPONENTS */
.InquiryUser #dropdownMenu1{
	display: none;
}

/* object_selector 
.InquiryUser .btn-group:first-child {
	display: none;
}*/


/* options_selector  
.InquiryUser .btn-group:nth-child(2) {
	display: none;
}*/

.InquiryUser .global-search-input-container{
	margin-left: 200px;
}

.InquiryUser #show-saved-searches {
	display: none;
}

/* Dasboard items 
.InquiryUser #DashboardPanel_23{
	display: none;
}*/


/* tabs */
.InquiryUser .tabbable{
	display: none;
}
 

.InquiryUser #ContentPrimaryPanel_112{
	display: none;
}

.InquiryUser .itemlist-container{
	margin-right: 0;
}

/*ADMINISTRATOR USER*/
.Administrator #main-menu{
	background: rgb(210,35,42);
}

