/*Inquiry User styles*/

.InquiryUser #main-menu{
	background: rgb(210,35,42);
}

/*Administrator styles*/

.Administrator #main-menu{
	background: ForestGreen;
}

div.as-spa-header{
	background-color: #222
}


#globalSearchPanel #globalSearch .search-input-container .search-control .global-search-finder-btn{
	background-color: rgb(210,35,42);
}


#globalSearchPanel #globalSearch .search-input-container .search-control .global-search-btn{
	background-color: rgb(210,35,42);
}

/* Hide hideous Content Manager logo*/
.navbar-logofix{
	display: none;
}


/* Hide options button anf help button in global serach bar */
.global-search-options-wide{
	display: none;
}

/* Hide User detail button. */
#profile-user-details{
	display: none;
}


#main-menu{
	background:  rgb(210,35,42);
}

.btn .button-primary{
	background-color: rgb(210,35,42);
}

.button-primary{
	background-color: rgb(210,35,42);
}

.btn.btn-flat.btn-primary, .btn.btn-icon.btn-primary{
	color: rgb(210,35,42);
}

.save-search-btn{
	background-color: rgb(210,35,42);
}