<div class="hprm-modal-header modal-header">
    <div class="h3 small" data-bind="text: title"></div>
</div>
<div class="modal-body hprm-modal-body">
    <div style="display: inline-block; min-width: 360px; width: 100%; height: auto;">
        <!-- ko if: showingMessage-->
        <div data-bind="text: message"></div>
        <!-- /ko  -->
    </div>
</div>

<!-- ko if: allowCancel -->
<div class="modal-footer hprm-modal-footer">
    <div style="max-width: 575px;">
        <button id="cancelBtn" role="button" name="button" class="btn btn-flat btn-secondary" data-bind="click: cancelHandler, text: HP.HPTRIM.Messages.web_dp_cancelText"></button>
    </div>
</div>
<!-- /ko -->
