<div tabindex="-1" data-bind="attr:{id:'overlay_'+id}, escapeKey:cancelHandler">


    <div class="hprm-modal-header modal-header">
        <div class="h3 small" data-bind="text: HP.HPTRIM.Messages.web_setContainer"></div>
    </div>
    <!-- ko if: errorVisible() -->
    <div class="hprm-modal-error alert" style="max-width: 600px; padding: 20px 20px 20px 20px">
        <span data-bind="text: alertDetails"></span>
    </div>
    <!-- /ko -->
    <div class="modal-body hprm-modal-body">
        <div style="display: inline-block; min-width: 360px; width: 100%; height: auto;">

            <div data-bind="hprm_field:$data.containerField" />

            <div data-bind="hprm_field:$data.enclosedCheckBox" />

            <div data-bind="text: HP.HPTRIM.Messages.web_encloseRecordWarning"></div>
        </div>
    </div>


    <div class="modal-footer hprm-modal-footer">
        <div style="max-width: 575px;">
            <button id="saveBtn" role="button" name="button" class="btn btn-flat btn-primary" data-bind="click: save, text: HP.HPTRIM.Messages.dp_cap_SaveConfig, enabled: buttonsEnabled"></button>
            <button id="cancelBtn" role="button" name="button" class="btn btn-flat btn-secondary" data-bind="click: cancelHandler, text: HP.HPTRIM.Messages.web_dp_cancelText, enabled: buttonsEnabled"></button>
        </div>
    </div>
</div>