
<div class="hprm-modal-header modal-header">
	<div class="h3 small" data-bind="text: HP.HPTRIM.Messages.web_savedSearches"></div>
</div>

<!-- ko as_panel: $data.savedSearchItemListPanel --><!-- /ko  -->

<div class="modal-footer hprm-modal-footer">
    <div style="max-width: 575px;">
		<button id="cancelBtn" role="button" name="button" class="btn btn-flat btn-secondary" data-bind="click: cancelHandler, text: HP.HPTRIM.Messages.web_dp_cancelText, enabled: buttonsEnabled"></button>
    </div>
</div>