<ul class="itempicker-ul">
	<!-- ko foreach:items -->
	<li>
		<!-- ko if:$data.hasChildren && $data.updateBreadCrumb-->
		<div class="itempicker-li-container" tabindex="0">
			<!-- ko if: hasIcon -->
			<div data-bind="attr: { 'class': (iconId.toLowerCase() + '_x24 itempicker-icon'),title: displayValueExtra, 'alt': displayValueExtra }, click: function () { $data.onItemClick($parent, $data) }, event:  { touchend: function () { $data.onItemClick($parent, $data) } }" />
			<!-- /ko -->
			<div class="itempicker-text overflowEllipsis" data-bind="attr: {'title': displayValueExtra }, text: displayValueExtra, click: function () { $data.onItemClick($parent, $data) }, event:  { touchend: function () { $data.onItemClick($parent, $data) } }" aria-hidden="true"></div>
			<div style="height: 100%;" class="nextListItem" data-bind="if: $data.hasChildren(), attr: { href: '#' + $parent.carouselId }, click: function () { $data.getChildren(); $data.updateBreadCrumb($data); }, event:  { touchend: function () {$data.getChildren(); $data.updateBreadCrumb($data); } }" data-slide="next">
				<a class="hp-icon hp-arrow-right" data-bind="attr: { title: HP.HPTRIM.Messages.web_seeMore }"></a>
			</div>
		</div>
		<!-- /ko -->
		<!-- ko ifnot:$data.hasChildren && $data.updateBreadCrumb-->
		<div class="itempicker-li-container" tabindex="0" data-bind="click: function () { $data.onItemClick($parent, $data) }">
            <!-- ko if: hasIcon -->
            <div data-bind="attr: { 'class': (iconId.toLowerCase() + '_x24 media-object itempicker-icon'), title: displayValueExtra, 'alt': displayValueExtra }" aria-hidden="true"/>
            <!-- /ko -->
            <div class="overflowEllipsis itempicker-text" data-bind="attr: {'title': displayValueExtra }, text: displayValueExtra"></div>
        </div>		
		<!-- /ko -->
	</li>
	<!-- /ko -->
	<!-- ko if: items && items().length ==0 -->
	<li>&nbsp &nbsp &nbsp No items found</li>
	<!-- /ko -->
	<li class="loadMore alignItemsMiddle" data-bind="if: hasMoreResults() && items().length > 0">
		<div data-bind="click: loadMore">
			<span data-bind="text: HP.HPTRIM.Messages.web_more + ' ...'" style="color:#000"></span>
			<span class="spinner-container" data-bind="if: isLoading()"><i class="fa fa-spinner fa-spin"></i></span>
		</div>
	</li>
</ul>