<!-- ko template:{name:'templates/Field/FieldCaption' , data: $data.securityLevelField  } -->
<!-- /ko -->

<div data-bind="if:$data.Readonly">
	<input disabled class="text-field-std-style field-readonly HPRM-deluxe-list-header form-control" type="text" style="height: 32px; width:100%; padding-left: 5.990px;" />
</div>

<div data-bind="ifnot:$data.Readonly">
	<div data-bind="hprm_field: $data.securityLevelField"> </div>


	<div data-bind="with: securityCaveatField" style="margin-bottom:5px">
		<div class="HPRM-deluxe-list-header">
			<label style="margin-bottom: 0; font-weight: normal" data-bind="text: HP.HPTRIM.Messages.web_securityCaveatCaption, attr:{for:HP.HPTRIM.Messages.web_securityCaveatCaption}"></label>
		</div>
		<div class="input-group" style="max-width: 550px;">
			<input tabindex="-1" class="text-field-std-style field-readonly HPRM-deluxe-list-header form-control" data-bind="attr:{id:HP.HPTRIM.Messages.web_securityCaveatCaption},value: displayValue" type="text" style="height: 32px; width:100%; padding-left: 5.990px" />
			<div class="input-group-btn">
				<button type="button" role="button" name="button" class="btn btn-default dropdown-toggle button-grey" data-toggle="dropdown" style="margin-left: 0px" data-bind="attr: {title: HP.HPTRIM.Messages.web_securityCaveatCaption , 'aria-label': HP.HPTRIM.Messages.web_securityCaveatCaption }, click: toggle">
					 <i class="caret-midgrey-open" style="display: flex; height: 14px; width: 14px; margin-left: -1px">  </i>
				</button>
			</div>
		</div>

		<div class="access-control-setting" tabindex="-1" style="max-width: 550px; margin-left: 1px;" data-bind="visible: isSettingVisible ">
			<div data-bind="foreach: items" readonly style="border: 1px solid rgb(169, 169, 169);">
				<div class="recordPropertySelectionBtn row supplemental_markings" data-bind="attr:{tabindex:$index()+1}">
					<button class="btn recPropBtn btn-security-dropdown-only" data-toggle="buttons-checkbox" role="button" name="button" title="button" type="button" data-bind="attr: {title: $data.Name} , text: $data.Name, css: { 'active': IsSelected}, click: $parent.click"></button>                    
				</div>
			</div>
		</div>
	</div>

</div>