
<div  tab-index="-1" data-bind="escapeKey: returnAction, attr: { 'class': cssClass() + 'listPaddingRight ' }">
    <div>
        <div>
    		<div class="command-panel-header-title" style="margin-left: 10px" data-bind="text: title"></div>
        </div>

        <div class="listPaddingRight commandPanel">
            <a tabindex="0" class="cancel" style="display:block" data-bind="text:HP.HPTRIM.Messages.web_cancel.toLowerCase(), click: cancelAction, enterKey: cancelAction"> </a>
        </div>

		<div data-bind="if: $data.dataEntrySource">
			<!-- ko hprm_field: $data.dataEntrySource --> <!-- /ko -->
		</div>
		
    </div>
</div>

