<div id="browseRecordCommandPanel" data-bind="attr: { 'class': cssClass() + ' listPadding listPaddingRight ' }">
	<div style="margin-bottom: 20px;">
		<div class="command-panel-header-title" data-bind="text: HP.HPTRIM.Messages.web_records"></div>
		<div>
			<div class="h2 HPRM-action-panel-caption" data-bind="text: HP.HPTRIM.Messages.web_browseRecord"></div>
		</div>
	</div>

	<button role="button" name="button" class="btn button-primary" data-bind="title: HP.HPTRIM.Messages.web_close, text: HP.HPTRIM.Messages.web_close, click: closeCallback" style="margin-left: 0;"></button>
</div>
