<div>
    <div class="hprm-modal-header modal-header">
        <div class="h3 small" data-bind="text: title"></div>
    </div>


    
    <div class="modal-body hprm-modal-body" style="margin-right: 60px; max-height: none">
        <div class="search-control" style="padding-left:10px; padding-bottom: 10px;">
            <button type="button" class="application_search_builder btn save-search-btn" data-bind="click: showSearchBuilder,  attr: { 'title': showSearchTitle," style="margin: 0 0 3px 0px;border-left:none" title="Search Editor"></button>
            <input type="text" id="global-search-input" style="width: 350px; min-width: 0px; border: solid 1px #757575 " data-bind="value: searchField, enterKey: onSearchEnter, escapeKey: onSearchEscape, valueUpdate:'afterkeydown', attr:{'placeholder': HP.HPTRIM.Messages.web_enterSearchQuery, title: HP.HPTRIM.Messages.web_enterSearchQuery, 'aria-label': HP.HPTRIM.Messages.web_enterSearchQuery, class: searchFieldClass() }" />
            <!-- Pull right will bring it across on the same line as the search field. -->
            <button type="submit" class="btn button-primary global-search-btn pull-right" data-bind="click: $data.executeSearch, clickBubble: false, attr: {title: HP.HPTRIM.Messages.web_search , 'aria-label': HP.HPTRIM.Messages.web_search }" style="box-shadow:none; margin:0 0 3px -3px !important">
                <div class="search_24" style="height: 24px; width: 24px;" data-bind="attr: {title: HP.HPTRIM.Messages.web_search , 'aria-label': HP.HPTRIM.Messages.web_search }"></div>
            </button>
        </div>
       
        
            <!-- ko as_panel: $data.itemListPanel --><!-- /ko  -->
    </div>
    
    <div class="hprm-modal-footer modal-footer" style="margin-right: 60px;">
        <div>

            <button role="button" name="button" class="btn btn-flat btn-primary" data-bind="click: okHandler, text: HP.HPTRIM.Messages.web_ok"></button>
            <button role="button" name="button" class="btn btn-flat btn-secondary" data-bind="click: cancelHandler, text: HP.HPTRIM.Messages.web_dp_cancelText"></button>
        </div>
    </div>
</div>
<!-- object properties! -->
<!-- ko as_panel: $data.objectPropertiesPanel --><!-- /ko -->