<div id="actvityDetailsCmpt" style="width: 100%;">
	<div style="display: inline-block; padding:10px 0 10px 0;">
		<button role="button" name="button" id="WorkflowActivitiesButton" class="btn button-primary" data-bind="click: workflowDetailComponent.showActivities, attr: { title: HP.HPTRIM.Messages.web_activities }, text: HP.HPTRIM.Messages.web_activities"></button>
		<button role="button" name="button" id="WorkflowRecordsButton" class="btn button-primary" data-bind="click: workflowDetailComponent.showRecords, attr: { title: HP.HPTRIM.Messages.web_records }, text: HP.HPTRIM.Messages.web_records"></button>
	</div>
</div>
