<div class="listPadding listPaddingRight">
	<!-- ko template: {name: itemPicker.template, data : itemPicker} -->
	<!-- /ko  -->
	<div class="pull-right" style="padding-top: 10px;">
		<button role="button" name="button" type="button" class="btn button-primary" data-bind="click: onOK, text: HP.HPTRIM.Messages.web_ok"></button>
		<button role="button" name="button" type="button" class="btn btn-accent dark-grey-button" data-bind="click: onCancel, text: HP.HPTRIM.Messages.web_dp_cancelText"></button>
	</div>
</div>

